* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
  margin-right: 10rem;
}

.row {
  display: flex;
  border: 1px solid darkgray;
}

.last {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 0.8rem;
}

.cal {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
}

.maths {
  font-size: 22px;
  display: flex;
  font-weight: 500;
  padding-left: 0.5rem;
}

.border {
  border-right: 2px solid black;
  height: 20px;
}
